<div class="">
  <div class="row">
    <div class="col-4">LIFE:</div>
    <div class="col-1">{{stats.LIFE}}</div>
    <div class="col-2">
      <img src="LIFE.png" alt="life icon" height="33" width="33">
    </div>
  </div>
  <div class="row">
    <div class="col-4">ORDER:</div>
    <div class="col-1">{{stats.ORDER}}</div>
    <div class="col-2">
      <img src="ORDER.png" alt="life icon" height="33" width="33">
    </div>
  </div>
  <div class="row">
    <div class="col-4">DEATH:</div>
    <div class="col-1">{{stats.DEATH}}</div>
    <div class="col-2">
      <img src="DEATH.png" alt="life icon" height="33" width="33">
    </div>
  </div>
  <div class="row">
    <div class="col-4">CHAOS:</div>
    <div class="col-1">{{stats.CHAOS}}</div>
    <div class="col-2">
      <img src="CHAOS.png" alt="life icon" height="33" width="33">
    </div>
  </div>
  <div class="row">
    <div class="col-4">NATURE:</div>
    <div class="col-1">{{stats.NATURE}}</div>
    <div class="col-2">
      <img src="NATURE.png" alt="life icon" height="33" width="33">
    </div>
  </div>
  <div class="row">
    <div class="col-4">MIGHT:</div>
    <div class="col-1">{{stats.MIGHT}}</div>
    <div class="col-2">
      <img src="MIGHT.png" alt="life icon" height="33" width="33">
    </div>
  </div>
</div>

